<div class=“container”>
   <hr>

       <div class=“text-center center-block”>

           <p>- stocktracker.com -</p>

           <br />

             We are the stock tracking company. We love to help you build a portfolio and help you earn much.

</div>

   <hr>

</div>
